<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/food.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Recipe Finder</title>
</head>

<body>
    <header>
        <div class="logo">Recipe Finder</div>
        <nav>
            <ul class="menu" id="menuList">
                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                <li><a href="{% url 'veg-recipes' %}" class="active">Veg Recipes</a></li>
                <li><a href="{% url 'home' %}">Log-Out</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fa fa-bars"></i>
            </div>
            <div class="dropdown_menu">
                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                <li><a href="{% url 'nonveg-recipes' %}" class="active">Non-Veg Recipes</a></li>
                <li><a href="{% url 'home' %}">Log-Out</a></li>
            </div>
        </nav>
    </header>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn');
        const toggleBtnIcon = document.querySelector('.toggle_btn i');
        const dropDownMenu = document.querySelector('.dropdown_menu');

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open');
            const isOpen = dropDownMenu.classList.contains('open');
            toggleBtnIcon.classList = isOpen ? 'fa fa-xmark' : 'fa fa-bars';
        };
    </script>

    <div class="recipe">
        <div class="recipe-img">
            <img src="{% static 'images/chickenspringroll.jpg' %}">
        </div>
        <div class="recipe-information">
            <h1>Chicken Spring Roll</h1>
            <p class="description">Chicken Spring Rolls are a popular Asian appetizer made with thin wrappers filled
                with a savory mixture of chicken, vegetables, and spices. These rolls are typically deep-fried to a
                crispy golden brown and are often served with a variety of dipping sauces.</p>

            <div class="recipe-step-1">
                <h2>Ingredients</h2>
                <ul class="ingredients">
                    <li>200g boneless chicken, finely chopped or shredded</li>
                    <li>1 cup shredded cabbage</li>
                    <li>1/2 cup shredded carrots</li>
                    <li>1/2 cup chopped bell peppers</li>
                    <li>2 cloves garlic, minced</li>
                    <li>1 teaspoon ginger, grated</li>
                    <li>2 tablespoons soy sauce</li>
                    <li>1 tablespoon oyster sauce</li>
                    <li>1 teaspoon sesame oil</li>
                    <li>Salt and pepper to taste</li>
                    <li>Spring roll wrappers</li>
                    <li>Oil for frying</li>
                </ul>
            </div>

            <hr>

            <div class="recipe-step-2">
                <h2>Instructions</h2>
                <div class="instructions">
                    <div class="item">

                        <div class="num">1.</div>
                        <p>Heat oil in a pan over medium heat. Add minced garlic and grated ginger, and sauté for a
                            minute until fragrant.</p>
                    </div>

                    <div class="item">

                        <div class="num">2.</div>
                        <p>Add chopped chicken to the pan and cook until it turns white and is no longer pink.</p>
                    </div>

                    <div class="item">

                        <div class="num">3.</div>
                        <p>Add shredded cabbage, carrots, and bell peppers to the pan. Stir-fry for 2-3 minutes until
                            the vegetables are slightly tender.</p>
                    </div>

                    <div class="item">
                        <div class="num">4.</div>
                        <p>Add soy sauce, oyster sauce, sesame oil, salt, and pepper. Mix well and cook for another 2-3
                            minutes.</p>
                    </div>

                    <div class="item">
                        <div class="num">5.</div>
                        <p>Remove the filling from the heat and let it cool slightly.</p>
                    </div>

                    <div class="item">
                        <div class="num">6.</div>
                        <p>Take a spring roll wrapper and place a spoonful of the chicken and vegetable filling in the
                            center.</p>
                    </div>

                    <div class="item">
                        <div class="num">7.</div>
                        <p> Fold the sides of the wrapper over the filling, then roll it tightly into a cylinder,
                            sealing the edge with water.</p>
                    </div>

                    <div class="item">
                        <div class="num">8.</div>
                        <p>Heat oil in a deep pan for frying.</p>
                    </div>

                    <div class="item">
                        <div class="num">9.</div>
                        <p>Once the oil is hot, carefully place the spring rolls in the oil and fry until they are
                            golden brown and crispy.</p>
                    </div>

                    <div class="item">
                        <div class="num">10.</div>
                        <p>Remove the spring rolls from the oil and drain excess oil on a paper towel.</p>
                    </div>

                    <div class="item">
                        <div class="num">11.</div>
                        <p>Serve hot with sweet chili sauce or your favorite dipping sauce. Enjoy your delicious
                            chicken spring rolls!</p>
                    </div>
                </div>
            </div>

            <div class="feature">
                <p>Want to feature your own recipe? <a href="https://forms.gle/3e3RaBDGumVrKVc56" target=”_blank”>Send us your recipe now!</a></p>
            </div>
        </div>
    </div>
    <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i></a>
    <footer>
        &copy; Recipe Finder. Designed by Katakam Koushik.
    </footer>

</body>

</html>